html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./public/img/Untitled design.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}