.forgot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-image: url('./img/Untitled\ design.png');
  background-size: cover;
}

.forgot-container {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 450px;
}

.form-section h1 {
  font-size: 28px;
  color: rgb(155, 118, 202);
  text-align: center;
  margin-bottom: 20px;
}

.form-section input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-section button {
  width: 100%;
  padding: 12px;
  background-color: #a071d9;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-section button:hover {
  background-color: #8a5ac7;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #8a5ac7;
  text-decoration: none;
  font-size: 14px;
}

.success-msg {
  color: green;
  text-align: center;
  font-size: 16px;
}

  .password-container {
    position: relative;
    width: 100%;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 40px;
  }

  .eye-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.0rem;
    color: #aaa;
  }
  
  .eye-icon:hover {
    color: #333;
  }
  